
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');


:root{
    --button_border_color:#551b8a;
    --button_background_color:#551b8a;
    --body_background_color:#F0F5F9;
    --header_background_color: #1E2022;
    --header_text_color:#F0F5F9;
    --tech_background_color:#67718e21;
}

html{
    scroll-behavior: smooth;
}

body{
    display:flex;
    flex-direction: column;
    font-family:'Manrope', sans-serif;
    background-color: var(--body_background_color);
    margin:0px;
    min-height: 100vh;
    width:100%;
    -webkit-font-smoothing: antialiased;
}
h1,h2{
    margin:0;
    gap:1rem;
}

h2{
    font-size:25px;
}
h1{
    margin-top:10px;
    font-size:35px;
}


.visit_project{
    padding:10px;
    text-decoration: none;
    border: 3.5px solid;
    border-radius: 1rem;
    margin-top:15px;
    transition: all 250ms ease-in;
}

.visit_project:hover{
    transition: all 250ms ease-in;
    border-color:var(--button_border_color);
    background-color: var(--button_background_color);
    color:var(--header_text_color);
}
.links_info{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.links_info a{
    margin-right:15px;
}

li{
    list-style: none;
}

.avatar_img{
    width:300px;
    height:auto;
    border-radius: 70%;
    margin-bottom:15px;  
    margin-top:15px;  

}

.avatar{
    background-image: url("/images/background.png");
    background-size:900px;
    width:100%;
    display:flex;
    justify-content: center;
    min-width: 450px;
    margin-bottom:15px;
    background-repeat: no-repeat;
    object-fit: fill;
    background-size:cover;
}

.avatar_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    width: 100%;
}

header{
    display:flex;
    width:100%;
    min-height:40px;
    padding:0.5rem;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top:0vh;
    font-size:20px;
    background-color: var(--header_background_color);
    color: var(--header_text_color);
}

.sub_header{
    margin-bottom:15px;
    margin-top:20px;
}
.menu_container{
    display:flex;
    gap:2rem;
    margin-right:25px;
}
.logo{
    margin-left:15px;
}
.nav_items{
    display:flex;
    text-decoration: none;
    gap:1rem;
}

.nav_items a{
    text-decoration: none;
    transition: all 0.35s ease 0s;
}

.nav_icons{
    display:flex;  
    gap:1rem;
    margin-right:15px;

}

.nav_icons a, .nav_items a{
    color:var(--header_text_color);
}

.nav_items a:hover, .nav_icons a:hover{
    font-weight: 900;
    transition: all 0.35s ease 0s;
    border-bottom: solid 2.5px var(--header_text_color);
    font-size:22px;
}

img{
    width:400px;
    height:auto;
}
.projects{
    min-height: 100vh;
    width: 90%;
    margin-right:5%;
    margin-left:5%;
}
.project_template{
    min-height: 100vh;
    display:flex;
    justify-content: center;

}
.project_body{
    margin: 40px 40px 0px 40px;
}

.project_content{
    display:flex;
    flex-direction: column;  
    margin-right:40px;
    margin-left:40px;
}
.description{
    margin-bottom:5px;
}

.projects img{
    height:250px;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:15px;
    box-shadow: 0 10px 30px 0 var(--header_background_color),0 2px 4px 0 var(--header_background_color) !important;
} 
.project_tecnologies{
    display:flex;  
    padding-left: 0;
    justify-content: start;
    margin-bottom:0;
}

.project_tecnologies li{
    padding:10px;
    margin-right:10px;
    font-weight: 900;
    font-size: 0.75em;
    border-radius: 1rem;
    background-color:var(--tech_background_color);
}

.project_footer {
    display: flex;
    justify-content: center;
    align-items:center;
}

.project_footer a{
    padding:10px 100px 10px 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.skills{
    display:flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    justify-content: center;
    margin-left:40px;
    margin-right:40px;
}

.indv_skills {
    display:flex;
    justify-content: space-evenly;
}
.indv_skills{
    padding:10px;
}
.indv_skills img{
    height:100px;
    width:auto;
}

.skill_caption{
    margin-top: 10px;
    color:var(--header_background_color);
    background-color: var(--tech_background_color);
    border-radius: 1rem;
    width:min-content;
    margin:auto;
    margin-top:10px;
    padding:7.5px;
}

.languages img{
    width:fit-content;
    height:auto;
}
figure{
    margin:auto;
}

/* Tablets responsive design*/
@media only screen and (min-width:768px){


}

.scroll_up_button{
    position:fixed;
    bottom:30px;
    right:20px;
    z-index:99;
    cursor:pointer;
    padding: 10px 15px 10px 15px;
    border:none;
    font-size:25px;
    color:var(--button_background_color);
    background-color: var(--tech_background_color);
    transition: all ease-in 0.15s;
    border-radius: 100%;
    opacity:0;

}

.scroll_up_button:hover{
    background-color: var(--header_background_color);
    color:var(--header_text_color);
    transition: all ease-in 0.15s;
}


/* Smartphone responsive design*/ 
@media only screen and (max-width:767px){


}

