@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
/* GLOBAL VARIABLES */ 
:root, :root.light{
    --button_border_color:#551b8a;
    --button_background_color:#551b8a;
    --body_background_color:#F0F5F9;
    --header_background_color: #1E2022;
    --header_background_color_blurred:  rgba(30,32,34,0.90);
    --header_text_color:#F0F5F9;
    --tech_background_color:#67718e21;
    --hamburger_hover:#6f3ba0;
    --hamburger_color:#F0F5F9;
    --plain_text:#1E2022 !important;
    --visit_project_text: #551b8a;
    --visit_project_border: #551b8a;
    --subheader_color:#1E2022;
    --scroll_up_button:#551b8a;
}

:root.dark{
    --button_border_color:#551b8a;
    --button_background_color:#551b8a;
    --body_background_color:#1E2022;
    --header_background_color: #1E2022;
    --header_background_color_blurred:  rgba(30,32,34,0.90);
    --header_text_color:#F0F5F9;
    --tech_background_color:#67718e21;
    --hamburger_hover:#6f3ba0;
    --hamburger_color:#F0F5F9;
    --plain_text: #F0F5F9 !important;
    --visit_project_text: #F0F5F9;
    --visit_project_border: #551b8a;
    --subheader_color:#F0F5F9;
    --scroll_up_button:#F0F5F9;
} 
html{
    scroll-behavior: smooth;
}
html,body{
    overflow-x: hidden;
}

body{
    display:flex;
    flex-direction: column;
    font-family:'Manrope', sans-serif;
    background-color: var(--body_background_color);
    margin:0px;
    min-height: 100vh;
    width:100%;
    -webkit-font-smoothing: antialiased;
    transition: background-color 250ms ease-in;
}
h1,h2{
    color:var(--header_background_color);
}

h2{
    font-size:25px;
    margin:0;
}
h1{
    margin-top:15px;
    margin-bottom:10px;
    font-size: clamp(0.25rem, 1.5rem + 1.2vw, 2.5rem); 
    transition: font-size ease-in 100ms;
}

/* RESIZE FONT-SIZE */ 

.tag_column div{
    font-size: clamp(0.5rem, 0.10rem + 1.48vw, 1.5rem); 
    transition: font-size ease-in 100ms;
}
/* to be implemented*/

/* RESIZE FONT-SIZE */ 


li{
    list-style: none;
}

.visit_project{
    padding:10px;
    text-decoration: none;
    border: 3.5px solid var(--visit_project_border);
    border-radius: 1rem;
    margin-top:15px;
    transition: all 250ms ease-in;

}

.visit_project{
    color: var(--visit_project_text);
}

.visit_project:hover{
    transition: all 250ms ease-in;
    border-color:var(--button_border_color);
    background-color: var(--button_background_color);
    color:var(--header_text_color);
}

.plain_text{
    color:var(--plain_text);
}



/*__________HEADER__________*/
header{
    display:flex;
    min-height:40px;
    align-items: center;
    justify-content: space-between;
    width:100%;
    top:0vh;
    font-size:20px;
    background-color: var(--header_background_color);
    color: var(--header_text_color);
    transition:all ease-in 250ms;
}
header.active{
    background-color: var(--header_background_color_blurred);
}

.header_container{
    margin-left:65px;
}

.header_container a:hover{
    color:var(--hamburger_hover);
}
.logo{
    padding:1rem;
}
.menu_actions{
    display:flex;
    gap:1rem;
    justify-content: flex-end;
    order:3;
    padding:1rem;
    font-size: 22px;
}

.nav_bar_container{
    transition:all ease-in 0.2s;
}


.menu_actions li, button{
    display:flex;
    align-items: center;
    cursor:pointer;
}


.nav_bar_toggle .icon-bar{
    display: block;
    width: 22px;
    height: 0,5px;
    border-radius: 1px;
    margin-top:4px;
}
.nav_bar_toggle{
    gap:1rem;
}


.nav_items{
    display:flex;
    text-decoration: none;
    margin-right:25px;
}

.nav_items ul{
    display:flex;
    gap:1rem;
}

.theme{
    background-color:transparent;
    color:var(--header_text_color);
    border:none;
    font-size:20px;
    transition:all ease-in 0,2s";
}

.nav_items a, .icons_header{
    text-decoration: none;
    transition: all 0.35s ease 0s;
    color:var(--header_text_color);
    display:block;
}

.icons_header i:hover, .nav_items li:hover, .theme:hover {
    font-weight: 900;
    transition: all 0.35s ease 0s;
    color:var(--hamburger_hover);
    border:none;
    text-decoration: none;
}

.section_scroll{
    font-weight: 900 !important;
    transition: all 0.35s ease 0s !important;
    color:var(--hamburger_hover) !important;
    border:none !important;
    text-decoration: none !important;
}

/*__________ABOUT__________*/
.avatar_img{
    width:300px;
    height:auto;
    border-radius: 70%;
    margin-bottom:15px;  
    margin-top:15px;  

}

.avatar{
    background-image: url("/images/background.jpg");
    width:100%;
    display:flex;
    justify-content: center;
    min-width: 450px;
    margin-bottom:15px;
    background-repeat: no-repeat;
    object-fit: fill;
    background-size:cover;
}

.tags{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1rem;
}

.info_tags{
    display: flex;
    text-align: center;
    margin-top:30px;
    padding:10px;
    width:100%;
    justify-content: center;
    gap:1rem;
}

.links_info{
    display:flex;
    flex-direction:row;
}

.links_info a{
    margin-right:15px;
}

.avatar_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:110vh;
}

.sub_header{
    color:var(--subheader_color)!important;
}
.life{
    background-color: var(--button_background_color) !important;
    color:var(--header_text_color) !important;
}
.education{
    background-color: var(--button_background_color) !important;
    color:var(--header_text_color) !important;
}

.experience{
    background-color: var(--button_background_color) !important;
    color:var(--header_text_color) !important;
}

img{
    width:400px;
    height:auto;
}

/*__________PROJECTS__________*/
.projects{
    min-height: 100vh;
    width: 90%;
    margin-right:5%;
    margin-left:5%;
}
.project_body{
    display:flex;
    width:100%;
    justify-content: center;
}

.project_image{
    margin-left:20px;
    margin-right:20px;
    margin-bottom:25px;
    max-width: 450px;
    height:auto;
    width:auto;
    box-shadow: 0 10px 30px 0 var(--header_background_color),0 2px 4px 0 var(--header_background_color) !important;
    align-self:center;
    transition: all 250ms ease-in;
}

.projects img:hover{
    transform: scale(1.025);
    
    transition: all 250ms ease-in;
    
}
.project_template{
    min-height: 100vh;
    display:flex;
    align-items: center;
}

.project_content{
    display:flex;
    flex-direction: column;  
    width:100%;
    max-width: 900px;
}
.description{
    margin-bottom:5px;    justify-content: center;
}

.project_content img{
    margin-bottom:30px;
}
.project_tecnologies{
    display:flex;  
    padding-left: 0;
    justify-content: start;
    margin-bottom:0;
}

.project_tecnologies li{
    padding:10px;
    font-weight: 100;
    font-size: 1em;
    border-radius: 1rem;
    background-color:var(--tech_background_color);
    margin-right:5px;
}

.project_footer {
    display: flex;
    justify-content: center;
    align-items:center;
}

.project_footer a{
    padding:10px 100px 10px 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.languages img{
    width:fit-content;
    height:auto;
}
figure{
    margin:auto;
}



/*__________SKILLS__________*/

.skills{
    display:flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    justify-content: center;
    margin-left:40px;
    margin-right:40px;
}

.indv_skills {
    display:flex;
    justify-content: space-evenly;
    padding:10px;
}

.indv_skills img{
    height:100px;
    width:auto;
}

.skill_caption{
    margin-top: 10px;
    color:var(--plain_text);
    background-color: var(--tech_background_color);
    border-radius: 1rem;
    width:min-content;
    margin:auto;
    margin-top:10px;
    padding:7.5px;
}

.scroll_up_button{
    position:fixed;
    bottom:30px;
    right:20px;
    z-index:99;
    cursor:pointer;
    padding: 10px 15px 10px 15px;
    border:none;
    font-size:25px;
    color:var(--scroll_up_button);
    background-color: var(--tech_background_color);
    transition: all ease-in 0.15s;
    border-radius: 100%;
    opacity:0;

}

.scroll_up_button:hover{
    background-color: var(--visit_project_border);
    color:var(--header_text_color);
    transition: all ease-in 0.15s;
}

.toggle_button{
    display:none;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    cursor:pointer;
    border:none;
    width: 40px;
    height:21px;
    align-self: center;
}


.toggle_button:hover >span{
    background-color:var(--hamburger_hover);
    transition:all ease-in 250ms;
}

.bar{
    height:3px;
    width:100%;
    background-color: var(--hamburger_color);
    border-radius:10px;
    transition:all ease-in 250ms;
}

/*__________MEDIA_QUERIES__________*/

/* Smartphone responsive design*/ 
@media only screen and (max-width:767px){ 

    /* Menu */ 
    .toggle_button{
        display:flex;
    }
    .nav_bar_container{
        align-items: center;
        top:0vh;
    }
    .nav_items{
        display:none;
    }
    .nav_items ul{
        flex-direction:column;
        align-items:flex-start;
        width:100%;
        padding-left:0;
        margin-top: 0;
    }
    .nav_items ul li{
        width:100%;
        text-align: center;
    }
    
    .header_container{
        margin:0;
    }

    .test{
        background-color: green;
    }
    .nav_items.active{
        display:flex;
        width:100%;
        align-items:center;
        margin:0;
    }

    /* Content */ 
    .project_body{
        flex-wrap: wrap;
        justify-content: center;
    }
    .project_image{
        max-width:70%;
        height:auto;
        order:1;
    }
    .project_content{
        margin:0;
        order:2;
    }

    .project_tecnologies li{
        margin-bottom:5px;
    }
    .project_tecnologies{
        flex-wrap: wrap;
    }

    .indv_skills{
        flex-wrap: wrap;
    }
    .skill_caption{
        margin-bottom:10px;
    }
    .about{
        min-height:110vh;
        height:auto;
    }

    .project_footer a{
        padding-left:min(100px,25%);
        padding-right:min(100px,25%);
    }
    .info_tags{
        flex-direction:column;
        margin-top:20px;
        padding:10px;
        width:auto;
    }
    .avatar_container{
        height:auto;
    }
    

}

/* Smartphone responsive design*/ 

/* Tablets responsive design


@media only screen and (min-width:768px){


}
*/


