
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

body{
    display:flex;
    flex-direction: column;
    font-family:'Manrope', sans-serif;
    background-color: #ECECEC;
}

a{
    border-radius: 1rem;
    padding:10px;
    border:solid;
    text-decoration: none;
    transition: background-color 350ms ease-in-out,color 350ms ease-in-out, border-color 350ms ease-in-out;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(45deg, purple, orange) border-box;
    border: 5px solid transparent;
    border-radius: 50px;
}
a:hover{
    transition: all 350ms ease-in-out,color 350ms ease-in-out, border-color 350ms ease-in-out;
    color:black;
    border-color:black;
}

li{
    list-style: none;
}

.sub_header{
    font-weight: 900;
}

.avatar_container img{
    width:300px;
    height:auto;
    border-radius: 70%;
}
.avatar_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    width: 100%;
}

header{
    position:fixed;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
}
.header_items{
    display:flex;
    width:100%;
    justify-content: space-evenly;
}

.active{
    background-color: aquamarine;
    transition: all 0.5s ease-in;
}

img{
    width:400px;
    height:auto;
}
.projects{
    min-height: 100vh;
    width: 100%;
}
.project_template{
    min-height: 100vh;
    display:flex;
    justify-content: center;

}
.project_body{
    margin: 40px 40px 0px 40px;
}

.project_content{
    display:flex;
    flex-direction: column;  
}

.project_content img{
    justify-content: center;
}
.project_tecnologies{
    justify-content: start;
}
.project_tecnologies{
    display:flex;  
    padding:10px;
}
.project_tecnologies li{
    padding:10px;
    margin-right:10px;
    border: solid black;
}

.project_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project_footer a{
    border:solid black;
    padding:10px 100px 10px 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.skills{
    display:flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    justify-content: center;
}
.indv_skills {
    display:flex;
    justify-content: space-evenly;
}
.indv_skills li{
    border:solid black;
    padding:10px;
}

